.sociaux{
    color:black;
    margin-right: 8px;
}
.sociaux:hover{
    color:#286090;
}
.bulle{
    background: none repeat scroll 0% 0% transparent;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 3px;
    padding: 1px 5px;
    text-transform: uppercase;
    border: 1px solid #DDD;
    margin-right: 3px;
    display: inline-block;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 4px;
    -moz-user-select: none;
    list-style: outside none none;
}
.perk{
    margin: 2px 0px 2px;
}